@use '../../../scss/' as *;
.container{
    width: 100%;
    background-color: #fefef1;
}
.header{
    height: 100px;
    width: 80%;
    margin: 0px auto;
    @include flex(center,space-between);
    
    
}
.shrink {
    position: fixed;
    height: 90px;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    transition: height 0.8s ease, background-color 0.3s ease;
    background-color: beige;
}
.hide{
    display: none;
}
.logo img{
    width: 150px;
    align-items: center;
}

.context ul{
    @include flex(center,unset);
    list-style: none;
    li{
        display: flex;
        margin-left: 2rem;
        font-size: 1rem;
        cursor: pointer;
        padding: 5px;
        box-sizing: border-box;
        position: relative;
        @include hover($main-color,$hover-color);
        p{
            margin-left: 10px;
        }
        .addCart{
            width: 25px;
        }
    }

}
.loginn{
    text-decoration: none;
    color: black;
}
.header{
    position: relative;
    .ttUser{
        position: absolute;
        // display: none;
        z-index: 10;
        height: 150px;
        width: 200px;
        display: none;
        border: 1px solid gray;
        background-color: gray;
        top: 100px;
        left: 72%;
        div{
            cursor: pointer;
        }
    }
}
.header{
    position: relative;
    .showCart{
        
        position:absolute;
        background-color: rgb(233, 232, 232);
        width: 600px;;
        z-index: 200;
        top: 100px;
        left: 25%;
        border-radius: 0px 0px 10px 10px;
        border: 0.5px solid gray;
                
        .navCart{
            width: 300px;
            margin-left: 200px;
            margin-bottom: 5px;
            display: flex;
            img{
                margin-right: 20px;
                width: 40px;
                height: 40px;

            }
            div{
                color: $main-color;
            }
        }
        
    }
    .hideCart{
        display: none;
    }
}

.avatar{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-top: 10px;
}
